* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}
a, a:visited {
    color: blue;
    text-decoration: none;
}
body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}
footer {
    background-color: #08f;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 5vh;
    width: 100vw;
}
form button {
    background-color: none;
    border: 1px solid gray;
    border-radius: 1em;
    margin: 0 1em;
    padding: 0.5em 1em;
}
form div {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
form div .helptext {
    font-style: italic;
    font-size: 0.75em;
}
form div input {
    width: 25vh;
}
header {
    align-items: center;
    background-color: #08f;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    height: 20vh;
    justify-content: space-between;
    padding: 1em;
}
img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
main {
    padding: 2em;
}
marquee {
    height: fit-content;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
marquee h1 {
    color: gold;
    margin: 0;
}
section {
    display: flex;
    justify-content: space-between;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.col {
    border: 1px solid gray;
    border-radius: 1em;
    margin: 1em;
    flex: 1 1 30vw;
    /* flex: 1 1 90vw; */
    /* flex: 0 1 30vw; */
    /* flex: initial; */
    display: flex;
    flex-direction: column;
    /* max-width: 30vw; */
    /* min-width: 10px; */
}

.logout {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.create-form {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
    }

    form label {
        padding: 1em;
    }

    form input {
        width: 25vw;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background: white;
    padding: 20px;
    margin: 15% auto;
    width: 250px;
    border-radius: 8px;
    text-align: center;
}

.modal-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.seat {
    border: 1px solid black;
    height: 5vw;
    padding: 1em;
    width: 5vw;
}

#app-title {
    padding: 0;
    width: fit-content;
    height: 100%;
    width: 20vw;
}

#beadeluxe {
    font-size: 1.5rem;
}

#classroom {
    column-gap: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#classroom #seat_plan {
    align-items: center;
    display: grid;
    grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
    grid-template-rows: 5vw 5vw 5vw 5vw 5vw;
    column-gap: 0;
    row-gap: 5vw;
}

#not-found {
    font-size: 4em;
}

#user-reg {
    align-items: center;
    display:flex;
    flex-direction: row;
}

#user-reg a {
    background-color: aliceblue;
    border: none;
    border-radius: 1em;
    margin: 1em 0 1em 1em;
    padding: 1em;
}

#vertical_dvd {
    border: 1px solid white;
    display: block;
    height: 100%;
    width: 20vw;
}

.strong {
    font-weight: bold !important;
}