.env
**/**.pyc
**/__pycache__
db.sqlite3
media/
.venv/
venv
csci42/
**/migrations/
/beadeluxe/announcements/migrations
/beadeluxe/attendance/migrations
/beadeluxe/calendarApp/migrations
/beadeluxe/chat/migrations
/beadeluxe/courses/migrations
/beadeluxe/seat_plan/migrations
/beadeluxe/user_management/migrations
