{% extends "base.html" %}

{% block title %}Attendance Summary{% endblock %}

{% block content %}
<main id="attendance-summary" class="attendance-page">
    <h1>Attendance Summary</h1>
    <a href="{% url 'home' %}">Back to Home</a><br><br>
    
    {% for course_data in attendance_data %}
    <h2>
        {{ course_data.course.code }} - {{ course_data.course.name }} ({{ course_data.role|title }})
    </h2>

    <a href="{% url 'courses:course_attendance' course_data.course.id %}">
        → To course attendance
    </a>

    <p>
        Total Sessions: {{ course_data.total_sessions }} <br>
        Cuts (Absences): <strong>{{ course_data.cuts }}</strong>
    </p>

    <table border="1">
        <tr>
            <th>Date</th>
            <th>Status</th>
        </tr>

        {% for session in course_data.sessions %}
        <tr>
            <td>{{ session.date|date:"m/d/y" }}</td>

            <td style="text-align: center;">
            {% if session.status == "present" %}
                🟢
            {% elif session.status == "late" %}
                🟡
            {% else %}
                🔴
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</main>
{% endblock %}