{% extends 'base.html' %}
{% load static %}

{% json_script "course" %}
    {{ message.course }}
{% endjson_script %}

{% block title %}Messages{% endblock %}

{% block content %}
<main>
    <section id="messages" data-chatroom-course="{{ message.course }}">
        <div id="texts">
            {% for message in messages %}
                <div class="message">
                    <div class="msg_metadata">
                        <span class="message_sender">{{message.user}}</span>
                        <span class="message_timestamp">{{message.timestamp}}</span>
                    </div>
                    <div class="msg_texts">
                        <p>{{message.content}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form id="enter_text" method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="fullname">
            <input type="hidden" name="timestamp">
            <div id="msg_input_group">
                <input type="text" name="content" id="msg_content" placeholder="Aa">
                <button id="submit">Send</button>
            </div>
        </form>
    </section>
    <script language="javascript">
        const roomName = document.getElementById('messages').dataset.chatroomCourse;

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#texts').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#msg_content').focus();
        document.querySelector('#msg_content').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#submit').click();
            }
        };

        document.querySelector('#submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#msg_content');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</main>
{% endblock %}