{% extends 'base.html' %}
{% load static %}

{% block title %}Messages{% endblock %}

{% block content %}
<main>
    <section id="messages">
        <div id="texts">
            {% for message in messages %}
                <div class="message">
                    <div class="msg-metadata">
                        <span class="message-fullname">{{message.user.fullname}}</span>
                        <span class="message-timestamp">{{message.timestamp}}</span>
                    </div>
                    <div class="msg-texts">
                        <p>{{message.content}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form id="enter_text" method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="fullname">
            <input type="hidden" name="timestamp">
            <div id="msg_input_group">
                <input type="text" name="content" id="msg_content" placeholder="Aa">
                <button id="submit">Send</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}