{% extends 'base.html' %}
{% load static %}

{% block title %}Messages{% endblock %}

{% block content %}
<main>
    <section id="messages">
        <div id="texts">
            {% for message in messages %}
                <div class="message">
                    <div class="msg_metadata">
                        <span class="message_sender">{{message.user}}</span>
                        <span class="message_timestamp">{{message.timestamp}}</span>
                    </div>
                    <div class="msg_texts">
                        <p>{{message.content}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form id="enter_text" method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="fullname">
            <input type="hidden" name="timestamp">
            <div id="msg_input_group">
                <input type="text" name="content" id="msg_content" placeholder="Aa">
                <button id="submit">Send</button>
            </div>
        </form>
    </section>

    <a href="{% url 'courses:detail' course.id %}">
        ← Back to Course
    </a>
</main>
<nav>
        <a href="{% url 'courses:course_attendance' object.course.pk %}">Attendance Dashboard</a>
        <a href="{% url 'announcements:announcement_list' object.course.pk %}">Announcements</a>
        <a href="{% url 'calendarApp:calendar' object.course.pk %}">Calendar</a>
        <a href="{% url 'chat:messages' object.course.pk %}">Group Chat</a>
        <a href="{% url 'courses:course_seat_plan' object.course.pk %}">Seat Plan</a>
    </nav>
{% endblock %}