{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <main>
        {% comment %}
        <h1>{{ course.name }}</h1>
        <h2>{{ course.code }}</h2>
        {% endcomment %}
        <h1>{{ object.name }}</h1>
        <h2>{{ object.code }}</h2>

        {% if membership and membership.role == "beadle" %}
            <p><a href="{% url 'courses:course_attendance' object.id %}">Attendance Dashboard</a></p>
        {% endif %}

        <p><a href="..">Back to Course List</a></p>
    </main>
{% endblock %}
