{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <main>
        <h1>{{ object.course.name }}</h1>
        <h2>{{ object.course.code }}</h2>
        <p><a href="..">Back to Course List</a></p>

        <p>{{ object.role }}</p>
        {% if object.role == 'beadle' %}
            <form action="" method="post">
                {% csrf_token %}
                <label for="email">
                    <span>Email:</span>
                    <input type="text" id="email" name="email">
                </label>
                <label for="role">
                    <span>Role:</span>
                    <select name="role" id="role">
                        <option value="student">Student</option>
                        <option value="beadle">Beadle</option>
                        <option value="professor">Professor</option>
                    </select>
                </label>
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    </main>
{% endblock %}
