{% extends 'base.html' %}
{% load static %}

{% block title %}Courses{% endblock %}

{% block content %}
    <section>
        <h1>Courses</h1>
        
        <p>Add a course</p>

        <form action="{% url 'courses:list' %}" method="post">
            {% csrf_token %}
            <label for="course_name">
                <span>Course Name:</span>
                <input type="text" id="course_name" name="course_name">
            </label>
            <label for="course_code">
                <span>Course Code:</span>
                <input type="text" id="course_code" name="course_code">
            </label>
            <input type="submit" value="Submit">
        </form>
    </section>
    
    <main class="container">
        {% for courseUser in object_list %}
        <div class="col">
            <a href="#">
                <img src="https://placehold.co/600x400" alt="Some sample words">
            </a>
            <h2>
                <a href="{{ courseUser.course.get_absolute_url }}">{{ courseUser.course }}</a>
            </h2>
        </div>
        {% endfor %}
    </main>
{% endblock %}
