{% extends 'base.html' %}
{% load static %}

{% block title %}Courses{% endblock %}

{% block content %}
<main>
    <h1>Welcome to Beadeluxe!</h1>
    {% if user.is_authenticated %}
        <p>{{ greeting }}, {{ user.nickname|default:user.username }}!</p>
        <ul>
            <li><a href="{% url 'courses:list' %}">Courses</a></li>
        </ul>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to continue.</p>
    {% endif %}
    
    <section id="course_creation">
        <span id="add_course">Add a new course</span>
        <span id="add_course_helptext">This creates a new course. If you have not been added to an existing one, kindly ask your beadle for an invite.</span>

        <form action="{% url 'courses:list' %}" method="post" id="course_creation_form">
            {% csrf_token %}
            <label for="course_name">
                <span>Course Name:</span>
                <input type="text" id="course_name" name="course_name">
            </label>
            <label for="course_code">
                <span>Course Code:</span>
                <input type="text" id="course_code" name="course_code">
            </label>
            <input type="submit" value="Submit">
        </form>
    </section>
    
    <section class="container">
        {% for courseUser in object_list %}
        <div class="col">
            <a href="#">
                <img src="https://placehold.co/600x400" alt="Some sample words">
            </a>
            <h2>
                <a href="{{ courseUser.course.get_absolute_url }}">{{ courseUser.course }}</a>
            </h2>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}
