{% extends 'base.html' %}
{% load static %}

{% block title %}Attendance Dashboard{% endblock %}

{% block content %}

<h1>{{ course.name }} Attendance</h1>
<table border="1">
    <tr>
        <th>Name</th>

        {% for session in sessions %}
            <th>{{ session.date|date:"m/d" }}</th>
        {% endfor %}
    </tr>

    {% for row in attendance_matrix %}
    <tr>
        <td>{{ row.person }}</td>
        {% for status in row.attendance %}
            <td style="text-align: center;">
            {% if status == "present" %}
                ✔️
            {% elif status == "late" %}
                ⏰
            {% else %}
                ❌
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>

<br>

<a href="..">Back to Course</a>

{% endblock %}