{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<main id = "home-page">
    <h1>Welcome to Beadeluxe!</h1>
    {% if user.is_authenticated %}
        <p>{{ greeting }}, {{ user.nickname|default:user.username }}!</p>
        <ul>
            <li><a href="{% url 'courses:list' %}">Courses</a></li>
        </ul>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to continue.</p>
    {% endif %}
</main>
{% endblock %}