{% extends 'base.html' %}
{% load static %}

{% block title %}Seat Plan{% endblock %}

{% block content %}
    <main>
        <section id="classroom">
            <section id="seat_plan">
                {% for row in seat_plan %}
                    {% for seat in row %}
                        {% if student.fullname %}
                        <div class="seat">{{ student.fullname }}</div>
                        {% else %}
                        <div class="seat">Test</div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </section>
            <h1>Front</h1>
        </section>
        {% if user.role == "beadle" %}
            <a href="{% url 'courses:course_seat_plan' course.id %}">Edit Seat Plan</a>
        {% endif %}
    </main>
{% endblock %}
