{% extends 'base.html' %}
{% load static %}

{% block title %}Announcements{% endblock %}

{% block content %}
<main>

    <h1>{{ course.name }} - Announcements</h1>
    <p><a href="{% url 'courses:detail' course.id %}">Back to Course</a></p>

    {% if role == "beadle" or role == "professor" %}
        <p><a href="{% url 'announcements:announcement_create' course.id %}">+ Create Announcement</a></p>
    {% endif %}

    <hr>

    {% if announcements %}
        {% for announcement in announcements %}
            <div id="announcement">
                {% if role == "beadle" or role == "professor" %}
                    <p>
                        <a href="{% url 'announcements:announcement_update' course.id announcement.id %}">Edit</a>
                        |
                        <form action="{% url 'announcements:announcement_delete' course.id announcement.id %}" 
                              method="POST" id="announcement_delete_form">
                            {% csrf_token %}
                            <button type="submit" id="announcement_delete" onclick="return confirm('Delete this announcement?');">
                                Delete
                            </button>
                        </form>
                    </p>
                {% endif %}

                <h3>{{ announcement.title }}</h3>
                <p>
                    <small>
                        By {{ announcement.author.username }} <br>
                        Posted: {{ announcement.formatted_created }}
                        {% if announcement.created_at != announcement.updated_at %}
                            <br>Updated: {{ announcement.formatted_updated }}
                        {% endif %}
                    </small>
                </p>
                <p>{{ announcement.content }}</p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No announcements yet.</p>
    {% endif %}

</main>
<nav>
        <a href="{% url 'courses:course_attendance' object.course.pk %}">Attendance Dashboard</a>
        <a href="{% url 'announcements:announcement_list' object.course.pk %}">Announcements</a>
        <a href="{% url 'calendarApp:calendar' object.course.pk %}">Calendar</a>
        <a href="{% url 'chat:messages' object.course.pk %}">Group Chat</a>
        <a href="{% url 'courses:course_seat_plan' object.course.pk %}">Seat Plan</a>
    </nav>
{% endblock %}