{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Announcement{% endblock %}

{% block content %}
<main>

    <h1>Edit Announcement</h1>
    <h2>{{ course.code }} - {{ course.name }}</h2>

    <p><a href="{% url 'announcements:announcement_list' course.id %}">Back to Announcements</a></p>

    <form method="POST" action="{% url 'announcements:announcement_update' course.id announcement.id %}">
        {% csrf_token %}

        <p>
            <label for="title">Title:<br>
                <input type="text" id="title" name="title" value="{{ announcement.title }}" required>
            </label>
        </p>

        <p>
            <label for="content">Content:<br>
                <textarea id="content" name="content" rows="5" required>{{ announcement.content }}</textarea>
            </label>
        </p>

        <p>
            <button type="submit">Update Announcement</button>
        </p>

    </form>

</main>
<nav>
        <a href="{% url 'courses:course_attendance' object.course.pk %}">Attendance Dashboard</a>
        <a href="{% url 'announcements:announcement_list' object.course.pk %}">Announcements</a>
        <a href="{% url 'calendarApp:calendar' object.course.pk %}">Calendar</a>
        <a href="{% url 'chat:messages' object.course.pk %}">Group Chat</a>
        <a href="{% url 'courses:course_seat_plan' object.course.pk %}">Seat Plan</a>
    </nav>
{% endblock %}